<div class="centered" data-comment-id="<%=comment.id%>">
  <div class="comment-box">
    <div class="card-content">
      <div><%= link_to comment.user.username, comment.user%></div>
      <table>
        <tr>
          <td><%= comment.comment_text %></td>
          <% if current_user.try(:id) == comment.user_id || current_user.try(:admin?) %>
              <td><%= link_to 'Edit', edit_proyect_comment_path(@proyect, comment) %></td>
              <td><%= link_to 'Destroy', [@proyect, comment], method: :delete, data: { confirm: 'Are you sure?' },
                                          remote: true%></td>
          <%end%>
        </tr>
      </table>
    </div>
  </div>
</div>