<%= form_for(proyect) do |f| %>
  <% if proyect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyect.errors.count, "error") %> prohibited this proyect from being saved:</h2>

      <ul>
      <% proyect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :initial_date %>
    <%= f.date_select :initial_date %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  </div>

  <div class="field">
    <%= f.label :actual_money %>
    <%= f.number_field :actual_money %>
  </div>

  <div class="field">
    <%= f.label :goal_money %>
    <%= f.number_field :goal_money %>
  </div>

  <div class="field">
    <%= f.label :score %>
    <%= f.number_field :score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
