<article class="card">
  <div class="inner-container">
    <div class="card-content">
      <h2><%= link_to project.name, project %></h2>
      <div class="content"><strong>Description</strong>: <%= project.description %> </div>
      <div class="content"><strong>Score</strong>: <%= project.likes.count %> </div>
      <div class="content"><strong>Collected money</strong>: <%= project.total_amount %></div>
      <div class="content"><strong>Goal</strong>: <%= project.goal_money %></div>
      <div class="content"><strong>Expiration date</strong>: <%= project.due_date %></div>
      <div class="content"><strong>Founder</strong>: <%= project.founder.username %></div>
    </div>
  </div>
</article>
