
<header class="masthead clear">
  <div class="centered">
    <div class="site-branding">
      <h1 class="site-title"><%=@proyect.name%></h1>
    </div>
  </div>
</header>


<div class="centered">
  <article class="in-use">
    <div class="inner-container">
      <div class="card-content in-use">
        <div class="content"><strong>Description</strong>: <%= @proyect.description %> </div>
        <div class="content"><strong>Score</strong>: <%= @proyect.likes.count %> </div>
        <div class="content"><strong>Collected money</strong>: <%= @proyect.total_amount %></div>
        <div class="content"><strong>Goal</strong>: <%= @proyect.goal_money %></div>
        <div class="content"><strong>Expiration date</strong>: <%= @proyect.due_date %></div>
        <div class="content"><strong>Founder</strong>: <%= @proyect.founder %></div>
        <div class="user-btns">
          <div class="proyect-btn"><%= like_button(@proyect) %></div>
          <div class="proyect-btn"><%= donate_form(@proyect)%></div>
        </div>
        <%= edit_button(@proyect)%>
        <%= destroy_button(@proyect)%>
      </div>
    </div>
  </article>
  <div class="comments-stream">
    <% if @proyect.comments%>
        <% @proyect.comments.reverse.each do |comment| %>
            <%= render 'comments/preview', comment: comment%>
        <% end %>
    <% end %>
  </div>

  <%= render 'comments/form_create_on_project_page', project: @proyect %>
</div>
