<br/>
<div class="centered">
  <article class="card in-use">
    <div class="inner-container">
      <!--<img src="https://content-static.upwork.com/blog/uploads/sites/4/2009/05/project-management.jpg" alt="project_image">-->
      <div class="card-content in-use">
        <h2><%= link_to @proyect.name, @proyect %></h2>
        <div class="content"><strong>Description</strong>: <%= @proyect.description %> </div>
        <div class="content"><strong>Score</strong>: <%= @proyect.likes.count %> </div>
        <div class="content"><strong>Collected money</strong>: <%= @proyect.total_amount %></div>
        <div class="content"><strong>Goal</strong>: <%= @proyect.goal_money %></div>
        <div class="content"><strong>Expiration date</strong>: <%= @proyect.due_date %></div>
        <div class="content"><strong>Founder</strong>: <%= @proyect.founder %></div>
        <br/>

        <div class="user-btns">
          <%= like_button(@proyect) %>
          <%= donate_form(@proyect)%>
        </div>

        <br>
        <%= edit_button(@proyect)%>
        <%= destroy_button(@proyect)%>
      </div>
    </div>
  </article>
  <div class="comments-stream">
    <% if @proyect.comments%>
        <% @proyect.comments.reverse.each do |comment| %>
            <%= render 'comments/preview', comment: comment%>
        <% end %>
    <% end %>
  </div>
  <%= render 'comments/form_create_on_project_page', project: @proyect %>
</div>
