<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Category.all.each do |category| %>
      <tr class="category-line">
        <td class="category-link"><%= link_to category.name, category_proyects_url(category) %></td>
        <td><%= category.description %></td>
<<<<<<< HEAD
=======
        <% if current_user.try(:admin?) %>
          <p><%= link_to 'Show', category %></p>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' },
                          remote: true, class: 'delete_category' %></td>
        <% end %>
>>>>>>> ee524811429cec66570382b7441ddb2a5f7508a9
      </tr>
    <% end %>
  </tbody>
</table>

<br>

